---
---

<section class="bg-white lg:min-h-screen lg:flex lg:items-center">
    <div class="pt-2 pb-8 px-4 mx-auto max-w-screen-xl text-center sm:pt-4 sm:pb-12 lg:pt-8 lg:pb-28 lg:px-12">
        <div class="mb-4 sm:mb-8 inline-flex items-center justify-center px-3 py-1 sm:px-4 sm:py-2 text-xs sm:text-sm bg-blue-100 rounded-full">
            <span class="font-semibold text-blue-600">Nuevo</span>
            <a href="/guia-completa-de-seo" class="ml-1 sm:ml-2 text-gray-600 hover:text-blue-600 transition-colors duration-200">
                Aprende a Dominar los Motores de Búsqueda
            </a>
        </div>
        <h1 class="mb-4 sm:mb-6 text-4xl font-extrabold tracking-tight leading-none text-gray-900 sm:text-5xl md:text-5xl lg:text-6xl">
            Bienvenido al 
            <span class="relative inline-block">
                <span class="relative z-10 bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-blue-400">Blog de Andrei</span>
                <span class="absolute left-0 bottom-0 w-full h-2 sm:h-3 bg-blue-200 transform -skew-x-12"></span>
            </span>
        </h1>
        <div class="flex flex-col sm:flex-row items-center justify-center mb-6 sm:mb-8">
            <div class="flex items-center -space-x-2 overflow-hidden mb-2 sm:mb-0">
                <img
                    src="/images/avatars/x1.webp"
                    class="w-8 h-8 sm:w-10 sm:h-10 rounded-full border-2 border-white"
                    alt="User avatar"
                />
                <img
                    src="/images/avatars/x2.webp"
                    class="w-8 h-8 sm:w-10 sm:h-10 rounded-full border-2 border-white"
                    alt="User avatar"
                />
                <img
                    src="/images/avatars/x3.webp"
                    class="w-8 h-8 sm:w-10 sm:h-10 rounded-full border-2 border-white"
                    alt="User avatar"
                />
                <img
                    src="/images/avatars/x4.webp"
                    class="w-8 h-8 sm:w-10 sm:h-10 rounded-full border-2 border-white"
                    alt="User avatar"
                />
                <img
                    src="/images/avatars/x5.webp"
                    class="w-8 h-8 sm:w-10 sm:h-10 rounded-full border-2 border-white"
                    alt="User avatar"
                />
            </div>
            <p class="text-sm text-gray-500 font-medium mt-2 sm:mt-0 sm:ml-4">
                Únete a más de 5.000 lectores
            </p>
        </div>
        <p class="mb-8 text-base sm:text-base font-normal text-gray-600 lg:text-base sm:px-16 lg:px-48" style="font-size: 16px;">
            Aquí comparto sin pelos en la lengua mis ideas sobre IA, SEO, emprendimiento y mucho más. Si buscas posts interesantes, estás en el lugar correcto.
        </p>
        <div class="flex flex-col sm:flex-row justify-center space-y-4 sm:space-y-0 sm:space-x-4">
            <a href="#ultimos-posts" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 transition duration-300">
                Saber más
                <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
            <a href="https://www.youtube.com/@planetaandrei" target="_blank" rel="noopener noreferrer" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 transition duration-300">
                <svg class="mr-2 -ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"></path></svg>
                Ver video
            </a>  
        </div>
        <div class="mt-8 sm:mt-16">
            <span class="font-semibold text-gray-500 uppercase text-xs sm:text-sm">TAMBIÉN ME PUEDES ENCONTRAR EN</span>
            <div class="flex justify-center items-center mt-4 space-x-6 sm:space-x-8">
                <a href="https://x.com/andreiioctavian" target="_blank" rel="noopener noreferrer" class="text-gray-500 hover:text-gray-900 transition duration-300" aria-label="Visitar perfil de X">
                    <svg class="w-5 h-5 sm:w-6 sm:h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>
                    </svg>
                </a>
                <a href="https://github.com/andan2/" class="text-gray-500 hover:text-gray-900 transition duration-300" aria-label="Visitar perfil de github">
                    <svg class="w-5 h-5 sm:w-6 sm:h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>