---
interface Props {
  content: string;
}

const { content } = Astro.props;

function calculateReadingTime(text: string): number {
  const wordsPerMinute = 200;
  const numberOfWords = text.split(/\s/g).length;
  return Math.ceil(numberOfWords / wordsPerMinute);
}

const readingTime = calculateReadingTime(content);
---

<span class="inline-flex items-center px-3 py-1 text-base font-medium text-green-800 bg-green-200 bg-opacity-60 rounded-full shadow-sm hover:bg-opacity-80 transition-colors duration-200">
  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
  {readingTime} min de lectura
</span>